.action{
  position: relative;
  display: inline-block;
  font-size: 1.1rem;
  width: fit-content;
  line-height: 1.42;
  text-decoration: none;
  text-align: center;
  white-space: normal;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  padding: 9px 17px;
  overflow: hidden;
  margin: 0;
  min-width: 90px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;
  border-radius: 0;
  color: #fff;
  background: #111;
  transition: background 0.2s ease 0s;
  //transform: skewX(-20deg);
  &--discounts{
    letter-spacing: normal;
  }
  &--discounts:nth-of-type(1){
    margin-right: 10px;
  }
  &--collections{
    display: block;
    background-color: transparent;
    border: 2px solid #fff;
    transition: background-color 1s ease-in;
    z-index: 26;
    &:hover{
      background-color: #000;
    }
  }
  &--center-redirect-left{
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding: 15px 0;
    margin: 30px 0;
    width: 100%;
    & i{}
  }
}
.collections__item:hover .action--collections{
  background-color: #000;
}
.action::after{
  position: absolute;
  content: "";
  display: none;
  width: 55%;
  height: 100%;
  margin-left: 60px;
  background: #fff;
  position: absolute;
  right: 150%;
  top: 0;
  opacity: .2;
  z-index: 20;
  transform: skewX(-30deg);
  transition: all 0.1s;
  animation-name: slideme;
  animation-duration: .3s;
  animation-delay: 0.05s;
  animation-timing-function: ease-in-out;
}
.action.product-item__buy-now{
  width: 100%;
}
.action:hover::after{
  display: block;
}
@keyframes slideme {
  0% {
    right: -1px;
  }
  100% {
    right: 150%;
  }
}
@media only screen and (min-width: 769px){
  .action{
    &--center-redirect-left{
      width: fit-content;
      padding: 9px 17px 9px 35px;
      margin: 60px auto;
    }
    &--discounts{
      letter-spacing: 1.3px;
    }
  }
  .action--discounts:nth-of-type(1){
    margin-right: 20px;
  }
}