.advantages{
  background-color: #fdfaf3;
}
.advantages__list{
  @extend %side-padding;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding-top: 40px;
  @include respond-to(tabletAndWider){
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: (0 $tablet-side-padding);
    margin-top: 66px;
  }
}
.advantages__item{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  @include respond-to(tabletAndWider){
    width: 280px;
  }
  &-number{
    opacity: 0.26;
    color: #fea052;
    font-family: $section-title-ff;
    font-size: 85px;
    font-weight: 700;
    // Text style for "0, 1"
    letter-spacing: 0.28px;
  }
  &-number-for-tablet{
    display: none;
  }
  &-title{
    margin-bottom: 15px;
    letter-spacing: .5px;
    color: #1a292f;
    font-family: $article-title-ff;
    font-size: 24px;
    font-weight: 600;
    @include respond-to(tabletAndWider){
      letter-spacing: .1px;
      line-height: 31px;
    }
  }
  &-description{
    color: $content-color;
    font-family: $content-ff;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    // Text style for "Заботы по"
    letter-spacing: 0.9px;
  }
}
.advantages__item:nth-of-type(2n){
  @include respond-to(tabletAndWider){
    margin-top: 162px;
    margin-right: 80px;
  }
}
