.breadcrumbs{
  &__list{
    display: flex;
    width: fit-content;
    &--shop{
      margin: 0 auto;
    }
    &--product{
      text-align: center;
      margin: 10px auto 0;
    }
  }
  &__link{
    display: inline-block;
    padding-left: 5px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
  }
}
@media only screen and (min-width: 769px){
  .breadcrumbs{
    &__list{
      &--product{
        margin: 0;
      }
    }
  } 
}