.cart-slider{}


.slick-arrow {
  height: 35px;
  width: 35px;
  margin-left: auto;
  margin-right: auto;
  background-color:transparent;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  border:none;
  cursor:pointer;
}

.slick-prev{
  background-image: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAPCAQAAABQWBdtAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjARIQDyVLzh7QAAABLUlEQVQoz43Rz0uTARjA8c+7wYIghJJOnqLDe/HiJRBkOSLGBF1qSChodIrwH1D8Azpk54QOBakYLFp0EUQMPbkdZAwyGlGMYBOEDgkDnR2CaOxV9709z8OX51cQiqTLB01DfkcVY5HKJTkDkvISnUpxa1JKylJWxTuRAi8Nq8hI++6eF4KLpWem1aRVVd1x4JGnbaN0t8Zz5v0y6DM4tO6BlIbts6XHFh1JK/7L1OyYkFZXiJYmLTk2arOl9w8l44bsK7dLGStiZrxr2/KLb8aM2FVpPUS/txJmLUf+7Y0nEnJu/d+p14Yr5j13FgVNd933Uf2vdNOWaxYtOI9PrkrKeu8wCHtsueGVh06dT+C1KV/dDsKiPnmjTlxMXM6wYhDu+Smr0YECl+Vc/wP/MUuSyrNRKgAAAABJRU5ErkJggg==);
}
.slick-next{
  background-image: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAPCAQAAABQWBdtAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjARIQEA2zIbi0AAABNklEQVQoz43RPUubYRQG4Ct5y+tQcQrSH+CQJXO7FT8QS5UXNa046eDQQVfBqbiIg4vQoVMpig6iQgolWIIgrS51UhwstEKbxQ+ETH6h6WIgMWmTZzz3uZ7h3LHkjjNp1xp7oRVP4pr0WRY0RAILIo/jIn8Mei9Wl8S8MyTvRVxeh1NjZuuiGW+c6pIPEpz7YlinK9/+QyZNK+i2T5CAY9uG9Di2+w8yZt6FyA4lxG970nodOqhB0j6689rG/T0SpeCHIwMi3/18QLqseWTEamkQLwuXjAute1ZBnsoITVgqu3yifGHXjR6vfHZyP0nJafHWXEVdFYivWrTrl3GONjmt5k09KCxZXeEHo3557s6WNotGFOshAmsi+0j5ZMBt1b81EKGsDmx66bI6ro1ollXUp1Ar/AtVkUtnanNA4QAAAABJRU5ErkJggg==);
}
.product{
  display: flex;
}
.product-thumb-slider {
  display: none;
}
.product-thumb-slider div{
  width: 100%;
  padding-bottom: 8px;
}
.product-thumb-slider-image{
  display: flex;
  margin: auto;
  height: 100%;
}
.product-thumb-slider .slick-slide {
  
  width: 80px;
  height: 80px;
  line-height: 80px;
  border:1px solid #ccc;
  cursor:pointer;
  
}
.product-thumb-slider .slick-slide.slick-current {
  border-color:red;
}
.main-slider-slick-dots{
  display: flex;
  min-height: 10px;
  margin: 0 auto;
  width: fit-content;

}
.main-slider-slick-dots button{
  display: block;
  margin-right: 12px;
  width: 7px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: rgb(148, 141, 141);
  font-size: 0;
}
.main-slider-slick-dots .slick-active button{
  background-color: rgb(85, 83, 83);
}
.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__product-photos{
    display: flex;
    width: 65%;
  }
  &-main-slider {
    margin-bottom: 45px;
    width: 100%;
    overflow: hidden;
    border: 1px solid #000;
  }
  &__product-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 30px;
  }
  &__product-specs{
    display: flex;
    flex-direction: column;
    line-height: 2;
    font-weight: 400;
  }
  &-item__vendor{
    font-size: 1.9rem; 
    text-transform: uppercase;   
  }
  &-item__title{
    font-size: 3.9rem;
    text-transform: uppercase;
  }
  &-item__delivery-info{
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #000;
    font-size: 1.9rem;
    line-height: 2.2rem;
  }
  &-item__price{
    font-size: 2.3rem;
    text-transform: uppercase;
  }
  &-item__buy-btns{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  &-item__buy-btns button{
    display: block;
    padding: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #000;
  }
  &-item__add-to-cart{
    margin-bottom: 15px;
    color: #000;
  }
  &-item__buy-now{
    color: #fff;
    background-color: #000;
  }
  &-item__additional-info-itm{
    margin-bottom: 10px;
    font-size: 1.9rem;
    line-height: 1.2;
  }
}
.product-modal .product{
  padding-bottom: 50px;
}
.product-modal-quick{
  width: 90%;
  max-width: 1100px;
  display: flex;
  flex-direction: column-reverse;
}
.swal-button {
  display: block;
  position: relative;
  padding: 10px 10px;
  border-radius: 2px;
  background-color: transparent;
  font-size: 0;
  border: 1px solid #000;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  &::before{
    display: block;
    content: '';
    position: absolute;
    top: 9px;
    left: 1px;
    width: 18px;
    height: 2px;
    background-color: #000;
    transform: rotate(-45deg);
    z-index: 25;
  }
  &::after{
    display: block;
    content: '';
    position: absolute;
    top: 9px;
    left: 1px;
    width: 18px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
    z-index: 25;
  }
}


@media only screen and (min-width: 765px){
  .products-section,
  .recently-viewed{
    margin-top: 75px;
    padding-bottom: 70px;
  }
  .product-thumb-slider{
    display: block;
  }
  .product{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    &__product-photos{
      display: flex;
      width: 50%;
    }
    &-thumb-slider{
      width: 20%;
    }
    &-main-slider {
      margin-bottom: 0;
      width: 80%;
      overflow: hidden;
      border: 1px solid #000;
    }
    &__product-info{
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-left: 30px;
    }
    &__product-specs{
      display: flex;
      flex-direction: column;
      line-height: 2;
      font-weight: 400;
    }
    &-item__vendor{
      font-size: 1.9rem; 
      text-transform: uppercase;   
    }
    &-item__title{
      font-size: 3.9rem;
      text-transform: uppercase;
    }
    &-item__delivery-info{
      margin-bottom: 30px;
      padding-bottom: 25px;
      border-bottom: 1px solid #000;
      font-size: 1.9rem;
      line-height: 2.2rem;
    }
    &-item__price{
      font-size: 2.3rem;
      text-transform: uppercase;
    }
    &-item__buy-btns{
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }
    &-item__buy-btns button{
      display: block;
      padding: 10px 0;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      border: 1px solid #000;
    }
    &-item__add-to-cart{
      margin-bottom: 15px;
      color: #000;
    }
    &-item__buy-now{
      color: #fff;
      background-color: #000;
    }
    &-item__additional-info-itm{
      margin-bottom: 10px;
      font-size: 1.9rem;
      line-height: 1.2;
    }
  }
}