.contact-form{
  &__wrapper{
    padding: 78px 10px 93px;
    background-color: #112537;
    opacity: 0.88;
  }
  &__title{
    padding: 0 10px 20px;
    text-align: center;
    color: #ffffff;
    line-height: 52px;
    font-family: $section-title-ff;
    font-size: 45px;
    font-weight: 700;
    // Text style for "М, ечтаете"
    letter-spacing: 0.32px;
    @include respond-to(tabletAndWider){
      padding: 0 100px;
      margin-bottom: 40px;
    }
  }
  &__description{
    padding: 0 10px 40px;
    text-align: center;
    color: #ffffff;
    font-family: $content-ff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    // Text style for "О, ставьте"
    letter-spacing: 0.64px;
    @include respond-to(tabletAndWider){
      margin-bottom: 20px;
      padding: 0 100px;
      font-size: 22px;
      font-weight: 400;
      line-height: 24px;
      // Text style for "О, ставьте"
      letter-spacing: 0.79px;
    }
  }
  &__input-list{
    border: 0px solid;
    @include respond-to(tabletAndWider){
      padding: 0 130px;
    }
  }
  &__input{
    display: block;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 12px;
    width: 100%;
    margin-bottom: 54px;
    border-radius: 1px;
    border: 0px solid;
    border-bottom: 2px solid #fde5d1;
    opacity: 0.7;
    background-color: inherit;
    color: #ffffff;
    font-family: $content-ff;
    font-size: 18px;
    font-weight: 300;
    line-height: 16.79px;
    // Text style for "И, мя*"
    letter-spacing: 1.29px;
    @include respond-to(tabletAndWider){
      background-repeat: no-repeat;
      background-position: right;
    }
  }
  &__input--name{
    @include respond-to(tabletAndWider){
      background-image: url("../img/decor/person-icon.png");
    }
  }
  &__input--phone{
    @include respond-to(tabletAndWider){
      background-image: url("../img/decor/phone-icon.png");
    }
  }
  &__input--mail{
    @include respond-to(tabletAndWider){
      background-image: url("../img/decor/mail-icon.png");
    }
  }
  &__input--submit{
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 29px 30px;
    box-shadow: 0 0 49px 19px rgba(0, 0, 1, 0.02);
    border-radius: 5px;
    background-color: #f8a25a;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family: $link-ff;
    font-size: 18px;
    font-weight: 800;
    line-height: 16.52px;
    // Text style for "О, ТПРАВИТ"
    letter-spacing: 2.62px;
  }
  &__info{
    text-align: center;
    opacity: 0.7;
    color: #ffffff;
    font-family: $content-ff;
    font-size: 16px;
    font-weight: 300;
    // Text style for "Н, ажимая"
    letter-spacing: 0.8px;
  }
}
@media (min-width: $tablet-width) {
}
@media (min-width: $desctop-width) {
}
