.discounts{
  position: relative;
  height: 400px;
  background-image: url("../img/content/slide1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 45%;
  animation-name: BgImageSizeChange;
  animation-duration: 4s;
  &__img-wrap{
    position: absolute;
    z-index: -1;
    height: 100%;
  }
  &__bg-image{
    display: block;
    object-fit: cover;
  }
  &__content{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-bottom: 15px;
  }
  &__addition{
    margin-bottom: 5px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 1.5rem;
    color: #fff;
  }
  &__title{
    margin-bottom: 7.5px;
    font-family: $content-ff;
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
  }
  &__action-block{
    display: flex;
    justify-content: flex-end;
  }
}
section.lazy{
  background-image: none;
  background-color: #F1F1FA;
}
@keyframes BgImageSizeChange {
  0%{
    background-size: 300%;
  }
  100%{
    background-size: cover;
  }
}
@media only screen and (min-width: 769px){
  .discounts{
    height: 650px;
    &__addition{
      font-size: 1.7rem;
    }
    &__title{
      font-size: 6.4rem;
    }
  }
}