.page-title{
  margin: 10px 0 30px;
  text-align: center;
  &__text{
    font-size: 3.8rem;
    font-weight: 400;
    font-family: $content-ff;
    text-transform: uppercase;
  }
  &--collabs{
    margin-top: 45px;
    margin-bottom: 20px;
  }
}
