.portfolio-form{
  @extend %side-padding;
  &__input-item{
    padding: 15px 0;
  }
  &__input-checkbox{
    display: hidden;
  }
  &__label{
    color: #bababa;
    font-family: $content-ff;
    font-size: 22px;
    font-weight: 400;
  }
}
input.portfolio-form__input-checkbox:checked + label.portfolio-form__label{
  color: $section-title-color;
  font-family: $article-title-ff;
  font-size: 22px;
  font-weight: 400;
}
@media (min-width: $tablet-width) {
}
@media (min-width: $desctop-width) {
}
