.review{
  display: none;
  @extend %fl-col;
  @include respond-to(tabletAndWider){
    flex-direction: row;
  }
  &--active{
    display: flex;
  }
  &__content{
    @extend %fl-col;
    @include respond-to(tabletAndWider){
      order: 1;
      padding-left: 103px;
    }
  }
  &__user-photo{
    display: block;
    align-self: center;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 215px;
    height: 194px;
    @include respond-to(tabletAndWider){
      order: 2;
      position: relative;
      top: 30px;
      left: 25px;
      height: 189px;
    }
  }
  &__author{
    margin-bottom: 10px;
    color: #313131;
    font-family: $article-title-ff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    @include respond-to(tabletAndWider){
      padding-top: 61px;
      text-align: left;
    }
  }
  &__service-name{
    margin-bottom: 25px;
    color: #efb172;
    font-family: $content-ff;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    // Text style for "Услуга: ин"
    letter-spacing: 1.4px;
    @include respond-to(tabletAndWider){
      padding-bottom: 20px;
      text-align: left;
    }
  }
  &__text{
    text-align: center;
    font-family: $content-ff;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    @include respond-to(tabletAndWider){
      font-size: 16px;
      text-align: left;
      line-height: 25px;
    }
  }
}
@media (min-width: $tablet-width) {
}
@media (min-width: $desctop-width) {
}
