.reviews{
  padding-bottom: 80px;
  @include respond-to(tabletAndWider){
    padding-bottom: 155px;
  }
  &__slider{
    @extend %fl-col;
  }
  &__slides-list{
    @extend %fl-col;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 25px;
    @include respond-to(tabletAndWider){
      padding: 0;
      margin-bottom: 84px;
    }
  }
  &__slider-indikators{
    display: flex;
    margin: 0 auto;
  }
  &__slider-indikator{
    display: block;
    margin-left: 5px;
    width: 26px;
    height: 3px;
    background-color: #1a444a;
    opacity: 0.21;
    @include respond-to(tabletAndWider){
      margin-left: 10px;
    }
  }
  &__slider-indikator--active{
    background-color: #1a444a;
  }
}
@media (min-width: $tablet-width) {
}
@media (min-width: $desctop-width) {
}
