.section-title{
  text-align: center;
  color: $section-title-color;
  font-family: $section-title-ff;
  font-size: 45px;
  font-weight: 700;
  // Text style for "П, ортфоли"
  letter-spacing: 0.32px;
  &--portfolio{
    padding-top: 25px;
    letter-spacing: 4px;
    @include respond-to(tabletAndWider){
      padding-top: 71px;
      padding-left: 40px;
      text-align: left;
    }
  }
  &--service{
    letter-spacing: 3px;
    @include respond-to(tabletAndWider){
      padding-left: 41px;
      text-align: left;
      letter-spacing: 1px;
    }
  }
  &--stages-of-work{
    letter-spacing: 5px;
    @include respond-to(tabletAndWider){
      padding-left: 41px;
      text-align: left;
      letter-spacing: 1px;
    }
  }
  
}
h2.section-title--reviews{
  font-size: 46px;
  line-height: 57px;
  @include respond-to(tabletAndWider){
    padding-left: 41px;
    text-align: left;
    letter-spacing: 1px;
  }
}
@media (min-width: $tablet-width) {
}
@media (min-width: $desctop-width) {
}
