.service{
  background-color: #fdfaf3;
  padding-bottom: 80px;
  @include respond-to(tabletAndWider){
    padding-bottom: 45px;
  }
}
@media (min-width: $tablet-width) {
}
@media (min-width: $desctop-width) {
}
