.service-slider{
  padding-top: 27px;
  padding-bottom: 30px;
  &__items-names{
    @extend %fl-col;
    @extend %side-padding;
    padding-bottom: 46px;
    @include respond-to(tabletAndWider){
      flex-direction: row;
      flex-wrap: wrap;
      padding-bottom: 25px;
    }
  }
  &__slide{
    display: none;
  }
  &__slide-title{
    @include respond-to(tabletAndWider){
      padding-bottom: 15px;
      color: $section-title-color;
      font-family: $section-title-ff;
      font-size: 30px;
      font-weight: 400;
      // Text style for "Дизайн ком"
      letter-spacing: 2.54px;
    }
  }
  &__slide-info{
    @include respond-to(tabletAndWider){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 $tablet-side-padding;
    }
  }
  &__item-name{
    padding: 7px 0;
    color: #7d7d7d;
    font-family: $content-ff;
    font-size: 22px;
    font-weight: 300;
    &--active{
      color: $section-title-color;
      font-family: $article-title-ff;
      font-size: 22px;
      font-weight: 600;
    }
    @include respond-to(tabletAndWider){
      min-width: 280px;
      flex: 1;
      margin-bottom: 50px;
    }
  }
  &__slide-description{
    margin: 25px 0 45px;
    padding: 0;
    @extend %side-padding;
    color: #5e5e5e;
    font-family: $content-ff;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    @include respond-to(tabletAndWider){
      width: 490px;
      margin: 59px 0 7px -2px;
    }
  }
  &__item-projects-count{
    display: none;
    @include respond-to(tabletAndWider){
      display: block;
      padding-top: 60px;
      color: #182c3d;
      font-family: $content-ff;
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      // Text style for "532 проект"
      letter-spacing: 0.39px;
    }
  }
  &__item-link{
    @include respond-to(tabletAndWider){
      margin-right: 348px;
      width: 339px;
      height: 68px;
      padding: 0;
      text-align: center;
      box-sizing: border-box;
      border: 2px solid #112537;
      color: $section-title-color;
      font-family: $link-ff;
      line-height: 62px;
      font-size: 18px;
      font-weight: 600;
      // Text style for "КОНСУЛЬТАЦ"
      letter-spacing: 2.7px;
      text-transform: uppercase;
    }
  }
  &__image-wrapper{
    height: 390px;
    overflow: hidden;
  }
  &__slide-image{
    height: 200%;
    width: 200%;
  }
  &__item-link{
    display: block;
    width: 217px;
    height: 56px;
    padding: 10px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid #112537;
    color: $section-title-color;
    font-family: $link-ff;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    // Text style for "КОНСУЛЬТАЦ"
    letter-spacing: 2.25px;
  }
}
input.service-form__checkbox:checked + label.service-form__label{
  color: $section-title-color;
  font-family: $article-title-ff;
  font-size: 22px;
  font-weight: 400;
}
.service-slider__slide--active{
  display: block;
}
li.service-slider__item-name{
  @extend %service-slider-padding;
  padding: 16px 0;
}
@media (min-width: $tablet-width) {
}
@media (min-width: $desctop-width) {
}
