.stages-of-work{
  &__list{
    display: flex;
    flex-direction: column;
    margin-top: 53px;
    @extend %side-padding;
    @include respond-to(tabletAndWider){
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 68px;
    }
  }
  &__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    @include respond-to(tabletAndWider){
      flex-direction: row;
      width: 330px;
      margin-bottom: 65px;
      margin-left: 5px;
    }
  }
  &__item-number{
    display: none;
    @include respond-to(tabletAndWider){
      display: block;
      align-self: flex-start;
      width: 12px;
      height: 12px;
      border: 12px solid #fde5d1;
      border-radius: 50%;
    }
  }
  &__item-number-value{
    @include respond-to(tabletAndWider){
      position: relative;
      bottom: 5px;
      right: 3px;
      color: $section-title-color;
      font-family: $content-ff;
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;
    }
  }
  &__item-content{
    @include respond-to(tabletAndWider){
      margin-left: 55px;
      width: 260px;
    }
  }
  &__item-name{
    position: relative;
    margin-bottom: 40px;
    color: #313131;
    font-family: $article-title-ff;
    font-size: 23px;
    font-weight: 600;
    line-height: 17.74px;
    @include respond-to(tabletAndWider){
      margin-bottom: 34px;
    }
    &:after{
      position: absolute;
      display: block;
      bottom: -19px;
      left: 6px;
      content: '';
      width: 41px;
      height: 1px;
      background-color: #182c3d;
    }
  }
  &__item-description{
    font-family: $content-ff;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
  }
}
@media (min-width: $tablet-width) {
}
@media (min-width: $desctop-width) {
}
