.video{
  @extend %fl-col;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding-top: 24px;
  overflow-x: hidden;
  background-color: #182c3d;
  opacity: 0.7;
  @include respond-to(tabletAndWider){
    padding: 314px 0 309px;
  }
  &__track{
    display: none;
  }
  &__action{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: 42px solid #febc80;
    box-shadow: 5px 8px 21px 8px rgba(0, 1, 6, 0.07);
    opacity: 0.95;
    @include respond-to(tabletAndWider){
      border: 64px solid #febc80;
    }
  }
  &__start-button{
    position: relative;
    display: block;
    &:before{
      position: absolute;
      content: "";
      width: 19px;
      height: 22px;
      left: -6px;
      top: -9px;
      background-image: url("../img/decor/start__button.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      @include respond-to(tabletAndWider){
        width: 29px;
        height: 33px;
        left: -8px;
        top: -15px;
      }
    }
  }
  &__description{
    padding-top: 35px;
    text-align: center;
    color: #ffffff;
    font-family: $content-ff;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.39px;
  }
}
@media (min-width: $tablet-width) {
}
@media (min-width: $desctop-width) {
}
