@font-face {
  font-family: Tiemann;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/TiemannRegular.woff2') format('woff2'),
  url('../fonts/TiemannRegular.woff') format('woff');
}

  @font-face {
  font-family: Lato;
  font-weight: 100;
  font-style: normal;
  src: url('../fonts/Lato-Thin.woff2') format('woff2'),
  url('../fonts/Lato-Thin.woff') format('woff');
}
  @font-face {
  font-family: Lato;
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Lato-Light.woff2') format('woff2'),
  url('../fonts/Lato-Light.woff') format('woff');
}
  @font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato-Regular.woff') format('woff');
}
  @font-face {
  font-family: Lato;
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Lato-Semibold.woff2') format('woff2'),
  url('../fonts/Lato-Semibold.woff') format('woff');
}
