@font-face {
  font-family: Tiemann;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/TiemannRegular.woff2') format('woff2'),
  url('../fonts/TiemannRegular.woff') format('woff');
}

  @font-face {
  font-family: Futura;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/FuturaRegular.woff2') format('woff2'),
  url('../fonts/FuturaRegular.woff') format('woff');
}


  @font-face {
  font-family: Futura;
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/FuturaSemiBold.woff2') format('woff2'),
  url('../fonts/FuturaSemiBold.woff') format('woff');
}

  @font-face {
  font-family: Futura;
  font-weight: 400;
  font-style: oblique;
  src: url('../fonts/FuturaOblique.woff2') format('woff2'),
  url('../fonts/FuturaOblique.woff') format('woff');
}

  @font-face {
  font-family: Futura;
  font-weight: 600;
  font-style: oblique;
  src: url('../fonts/FuturaSemiBoldOblique.woff2') format('woff2'),
  url('../fonts/FuturaSemiBoldOblique.woff') format('woff');
}