%fl-col{
  display: flex;
  flex-direction: column;
}
%service-slider-padding{
  padding: 0 10px;
}
%side-padding{
  padding-left: 15px;
  padding-right: 15px;
}
%side-paddingTablet{
  padding-left: 40px;
  padding-right: 40px;
}
