$body-color: #fff;
$content-color: #838383;
$content-ff: Lato;
$section-title-color: #00203a;
$bdr-color: #e8e8e1;
$title-ff: "Tiemann";
$link-ff: "Raleway - Extra Bold";
$header-descr-ff: "Muller Thin";
$container-max-width: 1500px;
$tablet-width: 769px;
$desctop-width: 1360px;


$tablet-side-padding: 40px;
